<configs-modal #modal>
  <div class="modal-content" [ngClass]="{ show: modal.showModal }">
    <div class="modal-header">
      <h2>Atenção:</h2>
    </div>
    <div class="modal-body">
      <p>Configurações foram salvas!</p>
    </div>
    <div class="modal-footer">
      <button class="btn-primary" (click)="navigateToMatchPage()">
        Ir para a partida
      </button>
      <button class="btn-secondary" (click)="modal.toggle()">Fechar</button>
    </div>
  </div>
</configs-modal>

<div class="settings-container">
  <h2>Configurações</h2>

  <div class="players">
    <div class="players-header">Jogadores</div>
    <div class="player-items">
      <div *ngFor="let player of players" class="player-item">
        <span>{{ player.name }}</span>
        <button (click)="removePlayer(player)" class="remove-button">x</button>
      </div>
    </div>
    <div class="player-input">
      <input
        [(ngModel)]="newPlayerName"
        placeholder="Insira o nome do jogador"
        type="text"
        class="player-name-input"
      />
      <button type="submit" (click)="addPlayer()" class="add-button">
        Adicionar
      </button>
    </div>
  </div>

  <div class="points">
    <div class="points-header">Limite de Pontos</div>
    <input
      [(ngModel)]="maxPoints"
      (blur)="updateMaxPoints()"
      type="number"
      placeholder="100"
      class="points-input"
    />
  </div>

  <div class="explosions">
    <div class="explosions-header">Limite de Estouros</div>
    <input
      [(ngModel)]="maxExplosions"
      (blur)="updateMaxExplosions()"
      type="number"
      placeholder="1"
      class="explosions-input"
    />
  </div>

  <div class="save-config">
    <button
      type="submit"
      (click)="saveConfigs(); openModal()"
      class="save-button"
    >
      Salvar
    </button>
  </div>
</div>
