<winner-modal #modal>
  <div class="modal-content" [ngClass]="{ show: modal.showModal }">
    <div class="modal-header">
      <h2>Parabéns!</h2>
      <p class="winner-name">{{ winner }}</p>
    </div>
    <div class="modal-body">
      <p>Você é o vencedor da partida!</p>
      <p>Gostaria de jogar novamente?</p>
    </div>
    <div class="modal-footer">
      <button class="btn-primary" (click)="restartGame()">Novo Jogo</button>
      <button class="btn-secondary" (click)="modal.toggle()">Fechar</button>
    </div>
  </div>
</winner-modal>

<div class="player-container">
  <div class="players">
    <div
      *ngFor="let player of players"
      class="player-card"
      [ngClass]="
        player.isPlaying
          ? player.hasExploded
            ? 'card-exploded'
            : 'card-playing'
          : 'card-eliminated'
      "
    >
      <div
        class="player-title"
        [ngClass]="
          player.isPlaying
            ? player.hasExploded
              ? 'title-exploded'
              : 'title-playing'
            : 'title-eliminated'
        "
      >
        {{ player.name }}
      </div>

      <div
        class="player-info"
        [ngClass]="
          player.isPlaying
            ? player.hasExploded
              ? 'info-exploded'
              : 'info-playing'
            : 'info-eliminated'
        "
      >
        <div *ngIf="player.isPlaying; else lifeDash">
          <div
            class="hearts"
            *ngFor="let _ of generateHearts(player.lifes + 1)"
          >
            ❤️
          </div>
        </div>
        <ng-template #lifeDash>-</ng-template>

        <div>Total: {{ player.total }}</div>
        <div>Escape: {{ player.scape }}</div>
        <div *ngFor="let point of player.points">
          <div>{{ point }}</div>
        </div>

        <div class="player-score">
          <input
            type="number"
            [id]="'score_' + player.id"
            placeholder="0"
            #scoreInput
            (input)="enableSubmitButton()"
            [disabled]="!player.isPlaying"
            pattern="[0-9]*"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="game-buttons">
    <button
      [ngClass]="canSubmit ? 'active' : 'inactive'"
      (click)="submitScores()"
      [disabled]="!canSubmit"
    >
      Finalizar rodada
    </button>
    <button class="restart" (click)="restartGame()">Novo Jogo</button>
  </div>
</div>
