<app-modal #modal>
  <div class="modal-content" [ngClass]="{ show: modal.showModal }">
    <div class="modal-header">
      <h2>Parabéns!</h2>
      <p class="winner-name">{{ winner }}</p>
    </div>
    <div class="modal-body">
      <p>Você é o vencedor da partida!</p>
      <p>Gostaria de jogar novamente?</p>
    </div>
    <div class="modal-footer">
      <button class="btn-primary" (click)="restartGame()">Novo Jogo</button>
      <button class="btn-secondary" (click)="modal.toggle()">Fechar</button>
    </div>
  </div>
</app-modal>

<div class="player-container">
  <div class="players row">
    <div
      *ngFor="let player of players"
      class="playerCard"
      [ngClass]="
        player.isPlaying
          ? player.hasExploded
            ? 'cardExploded'
            : 'cardPlaying'
          : 'cardEliminated'
      "
    >
      <div
        class="playerTitle"
        [ngClass]="
          player.isPlaying
            ? player.hasExploded
              ? 'titleExploded'
              : 'titlePlaying'
            : 'titleEliminated'
        "
      >
        {{ player.name }}
      </div>

      <div
        class="playerInfo"
        [ngClass]="
          player.isPlaying
            ? player.hasExploded
              ? 'infoExploded'
              : 'infoPlaying'
            : 'infoEliminated'
        "
      >
        <div *ngIf="!player.explosionsLeft">-</div>
        <div
          class="hearts"
          *ngFor="let _ of generateHearts(player.explosionsLeft)"
        >
          {{ _ == 0 ? " " : " " }} ❤️
        </div>

        <div>Total: {{ player.total }}</div>
        <div>Escape: {{ player.scape }}</div>
        <div *ngFor="let point of player.points">
          <div>{{ point }}</div>
        </div>

        <div class="playerScore">
          <input
            type="number"
            [id]="'score_' + player.id"
            placeholder="0"
            #scoreInput
            (input)="enableSubmitButton()"
            [disabled]="!player.isPlaying"
            pattern="[0-9]*"
          />
        </div>
      </div>
    </div>
    <div class="gameButtons">
      <button
        [ngClass]="canSubmit ? 'active' : 'inactive'"
        (click)="submitScores()"
        [disabled]="!canSubmit"
      >
        Finalizar rodada
      </button>
      <button class="restart" (click)="restartGame()">Novo Jogo</button>
    </div>
  </div>
</div>
