:host {
  --titlePlaying: #009688;
  --infoPlaying: #4db6ac;
  --cardPlaying: #80cbc4;

  --titleExploded: #917e2f;
  --infoExploded: #bd9f2a;
  --cardExploded: #f8e09c;

  --titleEliminated: #f44336;
  --infoEliminated: #e57373;
  --cardEliminated: #ffa4a2;

  --finishButton: #0d8bd9;
  --finishButtonActive: #086096;
  --finishButtonInactive: #8fcee7;
  --restartButton: #ff0000;
  --restartButtonActive: #bd0202;
}

.player-container {
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.player-card {
  /* flex: 0 1 calc(50% - 20px); */
  margin-top: 10px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--playerCard);
  width: 200px;
}

.player-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.player-title {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--playerTitle);
  margin-bottom: 10px;
  color: white;
  overflow: hidden;
}

.player-info {
  padding: 10px;
  border-radius: 10px;
  color: white;
  min-height: 142px;
}

.hearts {
  display: inline-block;
}

.player-score input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}

.player-score input[type="number"]:focus {
  border-color: gray;
}

.title-playing {
  background-color: var(--titlePlaying);
}
.title-exploded {
  background-color: var(--titleExploded);
  transition: transform 1.5s, background-color 1.5s;
}
.title-eliminated {
  background-color: var(--titleEliminated);
  transition: transform 1.5s, background-color 1.5s;
}
.info-playing {
  background-color: var(--infoPlaying);
}
.info-exploded {
  background-color: var(--infoExploded);
  transition: transform 1.5s, background-color 1.5s;
}
.info-eliminated {
  background-color: var(--infoEliminated);
  transition: transform 1.5s, background-color 1.5s;
}
.card-playing {
  background-color: var(--cardPlaying);
}
.card-exploded {
  background-color: var(--cardExploded);
  transition: transform 1.5s, background-color 1.5s;
}
.card-eliminated {
  background-color: var(--cardEliminated);
  transition: transform 1.5s, background-color 1.5s;
}

.active {
  background-color: var(--finishButton);
}
.active:active {
  background-color: var(--finishButtonActive);
}
.inactive {
  background-color: var(--finishButtonInactive);
}
.restart {
  background-color: var(--restartButton);
}
.restart:active {
  background-color: var(--restartButtonActive);
}

.game-buttons {
  padding: 0;
  margin-top: 12px;
  margin: 0 auto;
  text-align: center;
}

.game-buttons button {
  margin-top: 5px;
  min-width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .player-container {
    float: left;
    width: 428px;
    padding: 0;
  }
  .player-card {
    flex: 0 1 calc(50% - 20px);
    width: auto;
  }
  .player-score input {
    font-size: 14px;
    height: 40px;
  }
  .game-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 12px;
  }
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  animation: fadeIn 0.6s ease-in-out;
  opacity: 0;
}

.modal-content.show {
  opacity: 1;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.winner-name {
  color: var(--restartButtonActive);
  font-size: 32px;
}

.modal-body {
  margin-top: 20px;
  font-size: 16px;
}

.modal-footer {
  margin-top: 20px;
  justify-content: center !important;
  display: contents;
}

.modal-footer button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #7db8a2;
}

.btn-secondary {
  background-color: #d6496c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
