<div class="container">
  <div class="row">
    <div class="playerColumn" *ngFor="let player of players">
      <div class="playerTitle">
        {{ player.name }}
      </div>

      <div
        class="playerInfo"
        [ngClass]="
          player.isPlaying
            ? player.hasExploded
              ? 'exploded'
              : 'notExploded'
            : 'notPlaying'
        "
        [ngClass]="player.hasExploded ? 'exploded' : 'playing'"
      >
        <div>Total: {{ player.total }}</div>
        <div>Escape: {{ player.scape }}</div>
        <div *ngFor="let point of player.points">
          <div>{{ point }}</div>
        </div>

        <div class="playerScore">
          <input
            type="number"
            [id]="'score_' + player.id"
            placeholder="0"
            #scoreInput
            (input)="enableSubmitButton()"
            [disabled]="!player.isPlaying"
          />
        </div>
      </div>
    </div>
    <div class="button">
      <button class="endRound" (click)="submitScores()" [disabled]="!canSubmit">
        Finalizar rodada
      </button>
      <button class="newGame" (click)="restartGame()">Novo Jogo</button>
    </div>
  </div>
</div>
