:host {
  --titlePlaying: #009688;
  --infoPlaying: #4db6ac;
  --cardPlaying: #80cbc4;

  --titleExploded: #917e2f;
  --infoExploded: #bd9f2a;
  --cardExploded: #f8e09c;

  --titleEliminated: #f44336;
  --infoEliminated: #e57373;
  --cardEliminated: #ffa4a2;

  --finishButtonActive: #0d8bd9;
  --finishButtonInactive: #77cff2;
  --restartButton: red;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.playerCard {
  flex: 0 1 calc(50% - 20px);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--playerCard);
}

.playerCard:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.playerTitle {
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--playerTitle);
  margin-bottom: 10px;
  color: white;
}

.playerInfo {
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.playerScore input {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.playerScore input[type="number"]:focus {
  border-color: gray;
}

.titlePlaying {
  background-color: var(--titlePlaying);
}
.titleExploded {
  background-color: var(--titleExploded);
}
.titleEliminated {
  background-color: var(--titleEliminated);
}
.infoPlaying {
  background-color: var(--infoPlaying);
}
.infoExploded {
  background-color: var(--infoExploded);
}
.infoEliminated {
  background-color: var(--infoEliminated);
}
.cardPlaying {
  background-color: var(--cardPlaying);
}
.cardExploded {
  background-color: var(--cardExploded);
}
.cardEliminated {
  background-color: var(--cardEliminated);
}

.active {
  background-color: var(--finishButtonActive);
}
.inactive {
  background-color: var(--finishButtonInactive);
}
.restart {
  background-color: var(--restartButton);
  transition: transform 0.2s;
}

button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  .container {
    float: left;
    width: 430px;
    padding: 15px 0px;
  }

  .playerCard {
    margin-bottom: 20px;
  }

  .playerTitle {
    font-size: 16px;
    padding: 10px;
  }

  .playerScore input {
    font-size: 14px;
    height: 40px;
  }
}
