.container {
  width: 1024px;
  display: flex;
  padding-top: 15px;
}

.playerColumn {
  float: left;
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
}

.playerTitle {
  border: 1px solid black;
  border-radius: 20px;
  padding: 2px;
  margin-bottom: 10px;
}

.playerInfo {
  border: 1px solid black;
  margin-bottom: 20px;
}

.playerScore {
  margin-top: 10px;
}

.playerScore input {
  width: 50%;
  height: 60px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  margin-bottom: 15px;
}

.playing {
  background-color: #a3dfa3;
}
.notPlaying {
  background-color: #f8bebe;
}
.exploded {
  background-color: #f4f487;
}
.notExploded {
  background-color: #a3dfa3;
}
.restart {
  background-color: #6072fc;
}
.finish {
  background-color: #ff7771;
}
.active {
  background-color: #e61003;
}
.inactive {
  background-color: #f8bebe;
}

.button {
  border: none;
}

.button button {
  color: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
