:root {
  --titlePlaying: #00443d;
  --cardPlaying: #009688;
}

body {
  margin: 0 auto;
  height: auto;
  width: 1024px;
  overflow-x: hidden;
}

nav a {
  margin-right: 10px;
}

h1 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

header {
  padding: 10px 0;
  text-align: center;
}

.header-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.main-nav {
  display: flex;
}

.main-nav a {
  background-color: var(--titlePlaying);
  border-radius: 5px;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  width: 120px;
  padding: 5px 0;
  color: white;
  align-content: center;
}

.main-nav a:hover {
  color: var(--cardPlaying);
}

@media (max-width: 768px) {
  .header-container {
    justify-content: left;
    padding: 0;
  }

  .main-nav a {
    margin: 0 10px;
    padding: 5px 0;
  }
}
